<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>-->
  <!-- 下面为Trans相关配置 -->
  <configSections>
      <section name="MyTrans" 
               type="bluedragon.tool.trans.common.MyTransSection,bluedragon.tool.trans.common"
               allowLocation="true"
               allowDefinition="Everywhere"/>
  </configSections>
  <MyTrans>
    <Tran>
      <add key="connectionString" value="Data Source=(local);Initial Catalog=EasyEsb;uid=sa;pwd=kjg2015;"/>
    </Tran>
  </MyTrans>
  <connectionStrings>
    <add name="EasyEsb" connectionString="Data Source=(local);Initial Catalog=EasyEsb;uid=sa;pwd=kjg2015;" providerName="SqlServer"/>
  </connectionStrings>
</configuration>